#deleteConfirmationContainer {
    -fx-background-color: #E2F1FC;
}

#confirmationMessage {
    -fx-text-fill: #1a1a1a;
    -fx-font-size: 14px;
}

#cancelButton {
    -fx-text-fill: #1a1a1a;
    -fx-background-color: white;
    -fx-border-color: #c8c8c8;
}

#cancelButton:hover {
    -fx-background-color: #d8d8d8;
}

#okButton {
    -fx-text-fill: #1a1a1a;
    -fx-background-color: #77B2EE;
    -fx-border-color: #c8c8c8;
}

#okButton:hover {
    -fx-background-color: #6AA7E6;
}

#okButton:armed, #cancelButton:armed {
    -fx-background-color: #c8c8c8;
}
